button{
    width: 360px;
    height: 30px;
    background-color: #E0E0E0;
    border-radius: 5px;
    
}
*{
    margin: 0;padding: 0;
}
.top{
    width: 97%;
    height: 400px;
    background-image: url('../images/msp2.png');
    background-size: cover;
    background-position: center;
}
.back{
    text-decoration: none;
    font-size: 30px;
    color: white;
    
    padding-top: 35px;
}
i{
    font-size: 30px;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
}
.content
{
    margin-top: 10px;
}

nav{
    padding-left: 40px;
    padding-top: 10px;
    width: 136px;
    height: 55px;
}
.back{
    text-decoration: none;
    font-size: 30px;
    
}
i{
    font-size: 30px;
}
.text{
    padding-left: 30px;
    padding-top: 20px;
}